// @mixin funkyBorder ($borderSize: 10px, $borderColor: orange) {
//   border: $borderSize solid $borderColor;
//
//   * {
//     @content;
//   }
// }
//
// @mixin funkyBackground ($backgroundColor: green) {
//   background-color: $backgroundColor;
// }

@mixin desktop {
  @media (min-width: 50rem) {
    @content;
  }
}
