// Colors
$brand-primary: #397ab1;
$grey: #dddddd;
$light-grey: #f9f9f9;
$dark-grey: #777777;

// Body
$body-background-color: #fafafa;
$body-default-color: #333333;

// Spacing
$space: 1.4rem;
$site-max-width: 100rem;

// Font sizes
$base-font-size: 1.4rem;
$large-font-size: 1.8rem;

// Form inputs
$input-border: $grey;
$input-spacing: 1rem;

// Boxed view
$boxed-view-overlay-bg: $grey;
$boxed-view-bg: white;
$boxed-view-border-color: $grey;

// Button
$button-bg: $brand-primary;
$button-color: white;
$button-pill-color: $brand-primary;
$button-secondary-bg: $light-grey;
$button-secondary-color: $dark-grey;
$button-secondary-border-color: $grey;

// Header
$header-bg: $brand-primary;
$header-color: white;
$header-height: 6rem;

// Item
$item-bg: $light-grey;
$item-border: darken($item-bg, 8%);
$item-text-color: $dark-grey;

// Page Content
$page-content-sidebar-width: 30rem;
$page-content-main-width: calc(#{$site-max-width} - #{$page-content-sidebar-width});
$page-content-height: calc(100vh - #{$header-height});
