// Item List
.item-list {
  background-color: white;
  border: 1px solid $grey;
  overflow-y: scroll;
  width: 100%;
  -webkit-overflow-scrolling: touch;
}

.item-list__header {
  display: flex;
  flex-direction: column;
  padding: $space;
}

// Item
.item {
  border-left: $item-border-width solid transparent;
  cursor: pointer;
  padding: $space;
  transition: background-color .3s ease, border-left .3s ease;
}

.item:hover {
  background-color: $light-grey;
  border-left: $item-border-width solid $grey;
}

.item--selected, .item--selected:hover {
  background-color: $light-grey;
  border-left: $item-border-width solid $brand-primary;
}

.item__title {
  font-weight: normal;
  font-size: $base-font-size;
  margin-bottom: .4rem;
}

.item--selected .item__title {
  font-weight: bold;
}

.item__subtitle {
  color: $dark-grey;
  margin: 0;
}

// Empty Item
.empty-item {
  font-style: italic;
  padding: $space;
  text-align: center;
}
